<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>code</key>
	<string>0</string>
	<key>goodsId</key>
	<string></string>
	<key>info</key>
	<string>操作成功</string>
	<key>objs</key>
	<array>
		<dict>
			<key>childs</key>
			<array>
				<dict>
					<key>childs</key>
					<array>
						<dict>
							<key>classId</key>
							<string>discountCouponRule</string>
							<key>classImageUrl</key>
							<string></string>
							<key>classLevel</key>
							<string>3</string>
							<key>className</key>
							<string>优惠券</string>
							<key>classOneId</key>
							<string>discountClassify</string>
							<key>classTwoId</key>
							<string>discountClassify2</string>
						</dict>
						<dict>
							<key>classId</key>
							<string>newGoods</string>
							<key>classImageUrl</key>
							<string></string>
							<key>classLevel</key>
							<string>3</string>
							<key>className</key>
							<string>新品</string>
							<key>classOneId</key>
							<string>discountClassify</string>
							<key>classTwoId</key>
							<string>discountClassify2</string>
						</dict>
					</array>
					<key>classId</key>
					<string>discountClassify2</string>
					<key>classImageUrl</key>
					<string></string>
					<key>classLevel</key>
					<string>2</string>
					<key>className</key>
					<string>优惠</string>
					<key>classOneId</key>
					<string>discountClassify</string>
				</dict>
			</array>
			<key>classId</key>
			<string>discountClassify</string>
			<key>classImageUrl</key>
			<string></string>
			<key>classLevel</key>
			<string>1</string>
			<key>className</key>
			<string>优惠</string>
		</dict>
		<dict>
			<key>childs</key>
			<array>
				<dict>
					<key>childs</key>
					<array>
						<dict>
							<key>classId</key>
							<string>53</string>
							<key>classImageUrl</key>
							<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/goods/spu/蔬菜/根茎类/山药.jpg</string>
							<key>classLevel</key>
							<string>3</string>
							<key>className</key>
							<string>山药</string>
							<key>classOneId</key>
							<string>65733</string>
							<key>classTwoId</key>
							<string>65735</string>
						</dict>
					</array>
					<key>classId</key>
					<string>65735</string>
					<key>classImageUrl</key>
					<string>https://s3.cn-north-1.amazonaws.com.cn/www.taocaimall.com/img/upload/default/goods/108b.png</string>
					<key>classLevel</key>
					<string>2</string>
					<key>className</key>
					<string>根茎类</string>
					<key>classOneId</key>
					<string>65733</string>
				</dict>
			</array>
			<key>classId</key>
			<string>65733</string>
			<key>classImageUrl</key>
			<string>http://tcmdefaultbucket-1253294191.cossh.myqcloud.com/img/upload/class_icon/fbcb15d5-b2be-488e-b739-8103fbe570d5.png</string>
			<key>classLevel</key>
			<string>1</string>
			<key>className</key>
			<string>蔬菜</string>
		</dict>
	</array>
	<key>op_flag</key>
	<string>success</string>
	<key>refGoodsClassify</key>
	<string></string>
</dict>
</plist>
